{% extends "MainApp/base.html" %}

{% block page_header %}


{% if pizza.header_image. %} 
<img src="{{ pizza.header_image.url }}" class="img-thumbnail" style="max-height: height 200px" alt="">
{% endif %} 

  <div class="jumbotron">
      <h1 class="display-3">Select a Pizza!</h1>

      <p class="lead">Choose a pizza and view its toppings. Feel free to leave us a comment about our Pizzas!
          We love feedback and appreciate your comments.
      </p>

      <a class="btn btn-lg btn-primary" href="{% url 'MainApp:pizzas' %}"
        role="button">Pizzas &raquo;</a>

  </div>
{% endblock page_header %} 