{% extends 'MainApp/base.html' %}

{% block page_header %}
  <h3>{{ Pizza }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'MainApp:new_comment' pizza.id %}">Add new entry</a>
  </p>

  <ul>
  {% for entry in entries %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ entry.date_added|date:'M d, Y H:i' }}
      </h4>
      <div class="card-body">
        {{ entry.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no comments for this pizza yet.</p>
  {% endfor %}

{% endblock content %}