{% extends 'MainApp/base.html' %}

{% block page_header %}
  <h3>{{ Pizza }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'MainApp:new_comment' pizza.id %}">Add Comment</a>
  </p>


{% for topping in toppings %}
<h5>
{{ topping.name|linebreaks }}
</h5>
{% endfor %}

  <ul>
  {% for comment in comments %}
    <div class="card mb-3">
      <h4 class="card-header">
        {{ comment.date_added|date:'M d, Y' }}
      </h4>
      <div class="card-body">
        {{ comment.text|linebreaks }}
      </div>
    </div>
  {% empty %}
    <p>There are no comments for this pizza yet.</p>
  {% endfor %}

{% endblock content %}